@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 60%;
  border: 1px solid rgb(204, 195, 195);
  margin: 10px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 2px gray;
  background: rgb(241, 237, 237);
}

.container1:hover {
  cursor: pointer;
}

.container1 img {
  filter: grayscale();
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid whitesmoke;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  transition: filter 0.4s ease-in-out;
}

.container1:hover img {
  filter: none;
}
.container2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 60%;
  border: 1px solid rgb(204, 195, 195);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 2px gray;
  background: rgb(241, 237, 237);
}

.container2:hover {
  cursor: pointer;
}

.container2 img {
  filter: grayscale();
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid whitesmoke;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  transition: filter 0.4s ease-in-out;
}
.container2:hover img {
  filter: none;
}

.block {
  font-family: "Dancing";
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info h4 {
  color: gray;
}

.info p {
  text-align: justify;
}
